@charset "UTF-8";
@font-face {
  font-family: BriosoPro Italic;
  font-display: swap;
  src: url("../fonts/BriosoPro Italic.woff2") format("woff2"), url("../fonts/BriosoPro Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.section {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 15% 0 0;
  border: 1px solid #000;
}

.section video {
  width: 100%;
}

.section__content {
  border: 5px solid #7c00cf;
  position: relative;
  z-index: 2;
  width: 100%;
  display: inline-block;
}

.section > div,
button {
  background-image: none;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 30px;
  height: 50px;
  text-align: center;
}

#repeat i {
  font-size: 32px;
}

.RPL {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.RPL > * {
  margin: 0 25px;
}

.RPL > div > button {
  color: white;
  z-index: 0;
}

.P-video {
  z-index: 3;
  border: 1px solid #000;
}

.b1 {
  display: block;
}

.B-1-gr {
  display: none;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
}